h1{
    font-family: 'Courier New', Courier, monospace;
    margin: auto;

    text-align: center;
}


body{
    position: relative;
    background: url("https://i.pinimg.com/600x315/14/f6/43/14f64328ffef40a0aa701f00779389d5.jpg");
    background-repeat: no-repeat;
    background-size: 1000%;
}


#add{
    

}

.container{

    margin: auto;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 1px solid black;

}


.card {
    border: 1px solid black;
    margin: 10px;
    padding: 5px;

}

form{
    display: none;

}